.header {
	height: 250px;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	background-image: url(../../images/banner.jpg);
	background-position: center;
}

.header__center {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 3px;
}

.header > a,
.header__options > a {
	text-decoration: none;
}

.header > img {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 20px;
	margin-left: 20px;
	height: 100px;
	width: 100px;
}

.header__options {
	display: flex;
	flex-direction: row;
	position: absolute;
	justify-content: space-between;
	width: 500px;
	height: 50px;
	top: 60px;
	right: 200px;
}

.header__option {
	color: white;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1em;
}

.button {
	position: absolute;
	top: 47px;
	right: 20px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 25px;
	height: 40px;
	width: 150px;
	color: white;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1em;
}

.button:hover {
	background-color: white;
	color: black;
}
